:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --title-text-color: black;
  --primary-white-color: white;
  --primary-text-color:black;
  --secondary-blue-color:#2196f3;
  --primary-secondary-color:#757575;
  --border-color:#ECECEC;
}

h1,
h2,
h3, 
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}


img{ display: block;}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section{
   padding-top: 94px;
   padding-bottom: 94px;
}
.section-p{
   padding-top: 94px;
}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  background-color: #FFFFFF;
  font-family: var(--main-font);
  color: var(--primary-text-color);
  color: var(--title-text-color);
}

/* ============Components=========== */

.title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* ===========End Components========== */

/*--------- Header--------- */
.header{
  color: var(--border-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid; 
}
.header-container{
  display: flex;
  align-items: center;
 
}

.navigation{
  display: flex;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
  margin-left: auto;
  
}

.mail-icon-envelope{
  width: 16px;
  height: 12px;
  fill:#757575;
  margin-right: 10px;
  cursor: pointer;
}
.mail-icon-vector{
  width: 10px;
  height: 16px;
  fill:#757575;
  margin-right: 10px;
  cursor: pointer;
}

.menu-item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-icon-envelope:hover,
.mail-icon-envelope:focus {
 fill: #2196F3;
}
.mail-icon-vector:hover,
.mail-icon-vector:focus {
 fill: #2196F3;
}


.logo-text-header{
  margin-right: 93px;
}

.menu-item:not(:last-child){
  margin-right: 50px;
}

.menu .menu-link.current {
   color: var(--accent-color);
}

.logo-blue{
  color: var(--accent-color);
}
.logo-text-header{
 color: var(--primary-text-color); 
font-family:  "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.menu-link
{
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}


.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.mail-link{
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575
  
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link{
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  
}

.tel-link:hover,
.tel-link:focus {
 color: var(--accent-color);
}

/* -------------end header----------- */

/* ================Hero============== */
.hero-center-modal-bth {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: white;
  padding: 10px 32px;
  margin-top: 30px;
}


.hero-center-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: auto;
  color: var(--primary-white-color);
}


.hero-center{
  max-width: 1600px;
  text-align: center;
  background-color: #C4C4C4;
  background-image: linear-gradient( 
    rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)),
  url(../images/hero/bg.jpg);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
}
/* ==============works============= */




/* ===========Features============= */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.container .features-list{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.features-list-item.antenna-icon::before{
  content: "";
 display: block;
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../images/feature/antenna1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-list-item.clock-icon::before{
  content: "";
 display: block;
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../images/feature/clock\ -3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
 .features-list-item.diagram-icon::before{
  content: "";
 display: block;
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../images/feature/diagram\ -2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.features-list-item.astronaut-icon::before{
  content: "";
 display: block;
  height: 120px;
  width: 270px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  background-image: url(../images/feature/astronaut\ -4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-list-item:not(:last-child){
  margin-right: 30px;
}


/* ===========End Features============= */
/* ==============Work=============== */

.work-img-list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-img-item{
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

/* ===========end-work================== */

/* =============== team============ */

.our{
  background-color: #F5F4FA;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team-title-web{
  margin-bottom: 50px;
}
.team-title-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.team-img-list-img-content{
  padding: 30px 32px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-img-list{
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-secondary-color);
   margin-bottom: 16px;
}

.social-list{
  display: flex;
  justify-content: space-between;
}
.social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
} 

.social-list-link:hover,
.social-list-link:focus{
background-color: #2196F3;

}

.social-list-icon{
  width: 20px;
  height: 20px;

   fill:#AFB1B8; 
}


/* ============End team============ */


/* ======================= Clients=================== */
.title-clients{
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.clients-list{
  display: flex;
  justify-content: space-between;

}
.clients-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #AFB1B8;
  border-radius: 3%;
  margin-bottom: 94px;
} 

.clients-list-link:hover,
.clients-list-link:focus{
border: 1px solid #2196F3;
}

.clients-list-link:hover  .clients-link-icon,
.clients-list-link:focus .clients-link-icon{
fill: var(--accent-color);
}


.clients-link-icon{
  fill:#AFB1B8; 
}



/* =================== end clients==================== */

/* ========== footer=========== */
.page{
  background-color: #2F303A;
}


.our-footer{
  display: flex;
  align-items: baseline;
 
}
.logo-text{
color: var(--primary-white-color);
font-family:  "Raleway", sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
} 

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;

}
.address-tel-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

}
.address-mail-link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
 color: rgba(255, 255, 255, 0.6);
}


.footer{
   padding-top: 60px;
   padding-bottom: 60px;
}
.address{
  margin-top: 20px;
}
.address-item:not(:last-child){
  margin-bottom: 9px;
}

.footer-social{
  margin-left: 72px;
}


.footer-social-title{
 display: flex;
justify-content: center;
align-items: center;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}



.footer-social-list{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
} 

.footer-social-link:hover,
.footer-social-link:focus{
background-color:  #2196F3;

}
.footer-social-item:not(:last-child){
  margin-right: 10px;
}

.footer-social-list-icon{
  width: 20px;
  height: 20px;
   fill:#FFFFFF;
}





 /* ==========end footer=========== */


 /* ============Классы для портфолио============= */

  /* ===============main=================== */

.filters-item-bth{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
 cursor: pointer;
 padding: 6px 22px;
 border:transparent;
 background-color: transparent;
}
.filters-item-bth:hover,
.filters-item-bth:focus{
  color: var(--accent-color);
}

.filters-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters-item:not(:last-child){
  margin-right: 8px;
}
 .project-title{
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
 }
 .project-content-list{
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
 }
 .projects{
  display: flex;
  flex-wrap: wrap;
   margin-left: -30px;
   margin-top: -30px;
}
 .projects-list{
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
 }

.description{
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}
/* ===================== end main==================== */




